<!DOCTYPE html>
<html lang="zh-cn"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

 <head th:replace="~{fragments/header :: header}"></head>
 
  <section id="container">
  
      <!--侧边栏 start-->
      <div th:replace="~{fragments/sidebar :: sidebar}">...</div>
      <!--侧边栏 end-->
      
      <!--主内容 start-->
      <section id="main-content">
          <section class="wrapper">
              <div class="row">
              	<div class="col-lg-12">
                      <div class="border-head">
                          <h3>文章管理</h3>
                      </div>
                </div>
              </div>
              
              <!-- <div> -->
              <form class="layui-form layui-form-pane" action="">
	              	<div class="searchTable layui-form-item" style="">
					  搜索关键字：
					  <div class="layui-inline" style="margin-right: 0px;margin-bottom: 0px;" id="htmlBox">
					    <input class="layui-input" name="id" id="condition" autocomplete="off" style="width: 250px;">
					  </div>
					  
					  <div class="layui-inline conditionBox" style="margin-right: 0px;margin-bottom: 0px;width: 143px;display:none;">
					  	<div class="layui-input-inline" style="width: 145px;" lay-filter="test1">
						  <select name="modules" lay-verify="required" lay-filter="selectTypes" id="queryType" class="charu">
						  	  <!-- <option value="0">选择类型</option> -->
						  </select>
						</div>
					  </div>
					  
					  <div class="layui-inline" style="margin-right: 0px;margin-bottom: 0px;width: 143px;">
					  	<div class="layui-input-inline" style="width: 145px;">
						  <select name="modules" lay-verify="required" lay-filter="selectType" id="selectType">
						      <option value="1">ID</option>
						      <option value="2">标题</option>
						      <option value="3">分类</option>
						  </select>
						</div>
					  </div>
			
					  <div class="layui-btn" data-type="reload">搜索</div >
					  
					</div>
			  </form>
              <table id="bligList" lay-filter="bligList"></table>
              <!-- </div> -->
              <script type="text/html" id="barDemo">
				<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  				<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
 				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
			  </script>
			  
			  <script type="text/html" id="toolbarDemo">
  				<div class="layui-btn-container">
					<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="getCheckData"><i class="fa fa-trash" aria-hidden="true"></i></a>
  				</div>
			 </script>

          </section>
      </section>
      <!--主内容 end-->

      <!--页脚 start-->
      <div th:replace="~{fragments/footer :: footer}">...</div>
      <!--页脚 end-->
      
  </section>
  
    <!-- JS放置在文档的末尾，这样页面加载速度更快。 -->
    <script src="../../js/json3.min.js" th:src="@{/js/json3.min.js}"></script>
	<script src="../../admin/layui/layui.all.js" th:src="@{/admin/layui/layui.all.js}" charset="utf-8"></script>
	<script src="../../js/admin/articleManage.js" th:src="@{/js/admin/articleManage.js}"></script>
  <script>


  </script>

  </body>
</html>
